html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #0094d4;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #0094d4;
    padding: 10px 20px 0px;
}
.header {
    background-color: #98daf8;
    height: 200px;
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #0094d4;
    min-height: 150px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}